doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet', type='text/css', href='  https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css')
    title bimrepo
  body
    section.app
      section.main
        main(class='container')
          a(class="primary outline" href=`/`) back

          h1 #{ledger.name} 
          h4(hx-get=`${ledger.name}/head`, hx-trigger="load,every 1s") #{ledger.head} 

          div(hx-get=`${ledger.name}/commit/latest`, hx-trigger="load,every 1s")

    script(src='https://unpkg.com/htmx.org@1.3.1')