doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet', type='text/css', href='  https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css')
    title bimrepo
  body
    section.app
      section.main
        main(class='container')
          h1 #{ledger.name} 
          h2 head: #{ledger.head}

    script(src='https://unpkg.com/htmx.org@1.3.1')